.parent-btn {
  margin-left: 20px;
  margin-top: 20px;
}
.btn {
  padding: 10px;
  border: 5px solid white;
  width: 115px;
  border-radius: 8px;
  color: white;
  background: black;
}
.child-div {
  margin-left: 35px;
  margin-top: 10px;
}

p {
  color: black;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
}
